body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

/* HEADINGS */
.header--main{
    font-weight: normal;
    font-size: 50px;    
}
.header-secondary{
    font-weight: 300;
    font-size: 42px;
}
.header-sub-header{
    font-size: 21px;
    color: grey;
}

/* LINKS */
.link--cta{
    font-size: 16px;
    color: aquamarine;
}

/* FOOTER */

.footer--paragraph{
    text-align: right;
    color: grey;
}